


#container
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    outline:2px solid #000;
    margin:auto;
    height: 1100px;
    width: 960px;
    border: none;
    border-color: blue;
    margin-top: -550px;
    overflow: hidden;
}

.grid
{
    border:1px black solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 3px 3px 3px darkgrey;

}

button
{
    margin: 10px;
}

#destroyer_btn
{
    display: flex;
    justify-content: flex-start;
    background-color: red;
    border-radius: 5px;
    width: 175px;
    height:175px;
    margin: 10px;
    text-align: center;
}

#cruiser_btn
{
    display: flex;
    justify-content: flex-start;
    border-radius: 5px;
    width: 175px;
    height:175px;
    margin: 10px;
}

#carrier_btn
{
    display: flex;
    justify-content: flex-start;
    background-color: green;
    border-radius: 5px;
    width: 175px;
    height:175px;
    margin: 10px;
}